html,
body {
  box-sizing: border-box;
}

.logo {
  padding: 10px;
}

main {
  margin: 0px auto 50px auto;
  text-align: center;
  background-image: url("background.webp");
  background-size: cover;
  text-align: center;
  padding: 0 5px;
}

h1 {
  padding-top: 150px;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  text-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.75);
}

h3 {
  font-family: Work Sans;
  font-weight: 500;
  line-height: 1.29;
  color: #27c19e;
  padding-left: 5px;
}

p {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.36;
  text-align: left;
  color: #4a4a4a;
  padding-left: 5px;
}

form {
  margin-top: 50px;
  height: 100px;
}

footer {
  display: flex;
  align-items: center;
  height: 50px;
}

.weather h2 {
  position: relative;
  padding: 5px;
}

.container {
  max-width: 900px;
  margin: auto;
  visibility: hidden;
  padding: 0 10px;
}

.weather h2 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 0.78;
  text-align: left;
  color: #4a4a4a;
}

.weather {
  /* width: 200px; */
  height: 150px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weathericon {
  width: 150px;
  height: 150px;
}

.venue {
  width: 275px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.venueimage {
  margin-top: 20px;
}

#venues h2 {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 0.77;
  text-align: center;
  padding-top: 5px;
}

#destination {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-align: left;
  color: #27b7c1;
}

.sectiontitle {
  width: 300px;
  align-items: center;
  margin-bottom: 15px;
}

.sectiontitle h2 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 3.4px;
  text-align: left;
  color: #4a4a4a;
}

#venues {
  display: flex;
  justify-content: space-around;
  min-height: 250px;
  column-gap: 20px;
}

#weather {
  display: flex;
  justify-content: space-around;
  min-height: 150px;
  margin-bottom: 15px;
}

.input,
.submit {
  border-radius: 4px;
  font-family: Source Sans Pro;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  -webkit-appearance: none;
}

.input {
  border: 1px solid lightgray;
  opacity: 0.73;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
}

.submit {
  background-color: #27b7c1;
  border: 1px solid transparent;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.submit:hover {
  background-color: #1e8f97;
}

.input:focus,
.submit:focus {
  outline: none;
}

@media (max-width: 326px) {
  .input {
    margin-bottom: 10px;
  }
}

@media (max-width: 860px) {
  /*   main {
    background-image: url("https://content.codecademy.com/courses/intermediate-javascript-requests/wanderlust/background_photo_moble.jpg");
  } */

  h1 {
    padding-top: 80px;
    font-size: 32px;
  }

  form {
    margin-top: 30px;
    padding-bottom: 10px;
  }

  #venues,
  #weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .venue,
  .weather {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }

  .weather {
    padding: 10px 20px;
    height: 100%;
  }

  .sectiontitle,
  .sectiontitle h2,
  #destination {
    margin: auto;
    text-align: center;
  }
}
